/*colores*/
@media (min-width: 375px) and (max-width: 480px) {
  .blog__wrapper {
    width: 21.5625rem;
    margin: 2rem auto; }
    .blog__wrapper h1 {
      color: #7537DB;
      font-size: 1.875rem;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 0.75rem; }
    .blog__wrapper a {
      text-decoration: none; }
    .blog__wrapper h2 {
      color: #7537DB;
      font-size: 1.5rem;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 1rem; }
  .blog__container {
    border-radius: 0.9375rem;
    box-shadow: 0px 2px 14px rgba(42, 42, 42, 0.24);
    display: flex;
    flex-direction: column;
    width: 21.5625rem; }
    .blog__container h2 {
      color: #7537DB;
      font-size: 1.875rem;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 0.75rem; }
  .img--blog__container img {
    height: 10.8125rem;
    width: 21.5625rem; }
  .paragraph--blog__container h4 {
    color: #7537DB;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.625rem;
    margin-top: 1rem;
    padding-left: 0.75rem; }
  .paragraph--blog__container h2 {
    color: #2A2A2A;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0.75rem;
    margin-top: 1rem;
    padding-right: 0.75rem; }
  .paragraph--blog__container p {
    color: #2A2A2A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9375rem;
    margin-top: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem; }
  .paragraph--blog__container a {
    color: #7537DB; }
  .bio--blog__container {
    display: flex;
    align-items: center; }
    .bio--blog__container .icon--bio img {
      padding-left: 0.75rem;
      width: 2.1875rem; }
    .bio--blog__container .info--bio {
      margin-top: 1rem;
      font-family: Arial, Helvetica, sans-serif; }
      .bio--blog__container .info--bio p {
        color: #9D9D9D;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.75rem;
        padding-left: 0.75rem; }
      .bio--blog__container .info--bio a {
        color: #9D9D9D;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.75rem;
        text-decoration: none;
        padding-left: 0.75rem; }
  .footer--container {
    border-top: 0.0625rem solid rgba(42, 42, 42, 0.2);
    margin: 1rem auto;
    text-align: center;
    width: 21.5625rem;
    margin-top: 1rem; }
  .footer--blog {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem auto;
    padding-top: 0.9375rem;
    width: 11.5625rem; }
    .footer--blog a img {
      height: 1.875rem;
      width: 1.875rem; }
    .footer--blog a img {
      height: 1.875rem;
      width: 1.875rem; }
  .secondary--blog__container {
    border-radius: 0.9375rem;
    height: 43.75rem; }
    .secondary--blog__container h1 {
      color: #7537DB;
      font-size: 1.5625rem;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      padding-top: 0.9375rem; }
    .secondary--blog__container h3 {
      color: #2A2A2A;
      font-size: 1.25rem;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      margin-top: 1rem; } }

.footer {
  background-color: #7537DB;
  height: 250px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.div-logo_footer {
  padding: 5%; }

#logo-footer {
  width: 20%; }

.ul-menu {
  list-style: none;
  padding: 0 0 0 2%; }
  .ul-menu li {
    margin: 3%;
    font-size: 25px; }
  .ul-menu a {
    text-decoration: none;
    color: #FFFFFF; }

.ul-icon {
  float: left;
  margin-top: -17%;
  margin-left: 55%;
  width: 40%; }
  .ul-icon li {
    display: inline;
    padding: 3%; }
  .ul-icon img {
    width: 18%; }

.div-copyright {
  margin-top: 10%; }
  .div-copyright a {
    color: #9D9D9D;
    margin: 15%;
    padding: 8%; }

.footer {
  background-color: #7537DB;
  height: 250px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.div-logo_footer {
  padding: 5%; }

#logo-footer {
  width: 20%; }

.ul-menu {
  list-style: none;
  padding: 0 0 0 2%; }
  .ul-menu li {
    margin: 3%;
    font-size: 25px; }
  .ul-menu a {
    text-decoration: none;
    color: #FFFFFF; }

.ul-icon {
  float: left;
  margin-top: -17%;
  margin-left: 55%;
  width: 40%; }
  .ul-icon li {
    display: inline;
    padding: 3%; }
  .ul-icon img {
    width: 18%; }

.div-copyright {
  margin-top: 10%; }
  .div-copyright a {
    color: #9D9D9D;
    margin: 15%;
    padding: 8%; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #F1F2F3; }

.header-wrapper {
  background-color: #FFFFFF;
  border-radius: 0 0 0.9375rem 0.9375rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 4.0625rem;
  position: sticky;
  top: 0;
  width: 23.4375rem;
  z-index: 1; }

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 21.5625rem; }
  .header-container .header-logo img {
    height: 1.3125rem;
    width: 4.0625rem; }

.header-bar button {
  background-color: #FFFFFF;
  border: none;
  margin-left: 1rem; }
  .header-bar button img {
    width: 1.875rem; }

/* Header Menu */
.header--menu {
  background-color: #FFFFFF;
  display: none;
  height: 100vh;
  margin: 1rem auto;
  overflow-y: hidden;
  position: absolute;
  width: 23.4375rem;
  z-index: 2; }
  .header--menu button {
    background-color: #FFFFFF;
    border: none;
    float: right;
    margin-right: 0.9375rem; }
    .header--menu button img {
      width: 2.1875rem; }

.menu--list {
  list-style: none;
  margin-top: 3rem; }
  .menu--list li {
    margin: 1rem 0.9375rem;
    border: 0.0625rem solid #7537DB;
    border-radius: 0.5rem;
    padding: 0.5rem; }
    .menu--list li a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #2A2A2A;
      font-size: 1.125rem;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
    .menu--list li img {
      width: 2.1875rem;
      margin-right: 0.5rem; }

.wrapper--ad--one {
  background-image: url(../../img/ads-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 21.5625rem;
  height: 12rem;
  margin: 1rem auto;
  position: relative; }
  .wrapper--ad--one p {
    position: absolute;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.375rem;
    top: 7.1875rem;
    left: 1.75rem;
    width: 18.75rem; }

.wrapper--ad--two {
  background-image: url(../../img/ads-img-two.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 21.5625rem;
  height: 12rem;
  margin: 1rem auto;
  position: relative; }
  .wrapper--ad--two p {
    position: absolute;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.375rem;
    top: 6.875rem;
    left: 1.75rem;
    width: 18.75rem; }

.wrapper--related {
  margin: 1.5rem auto;
  width: 21.5625rem; }
  .wrapper--related h2 {
    color: #7537DB;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.related--scroll {
  display: flex;
  overflow: scroll; }

.related--content {
  background-color: #FFFFFF;
  border-radius: 0.9375rem;
  box-shadow: 0px 2px 14px rgba(42, 42, 42, 0.24);
  margin: 1rem 1rem 1rem 0.5rem;
  padding-bottom: 0.5rem;
  width: 16.875rem; }
  .related--content img {
    width: 16.5625rem; }
  .related--content h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    margin: 1rem 1.125rem; }
  .related--content p {
    color: #2A2A2A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    margin: 0 1.125rem 0.5rem 1.125rem;
    width: 14.3125rem; }

.related-date {
  border-top: 0.0625rem solid rgba(42, 42, 42, 0.2); }
  .related-date p {
    color: #2A2A2A;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    margin-top: 0.5rem; }

.comments--wrapper {
  margin: 1rem auto;
  width: 21.5625rem; }
  .comments--wrapper h3 {
    color: #7537DB;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    padding-top: 1.5rem; }
  .comments--wrapper form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem; }
    .comments--wrapper form img {
      width: 2.188rem; }
    .comments--wrapper form label {
      color: #2A2A2A;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 1.25rem;
      margin-left: 0.5rem; }
    .comments--wrapper form textarea {
      border-radius: 0.9375rem;
      border: 0.125rem solid #9D9D9D;
      margin: 0.5rem 0 1rem 0; }

.comment-button {
  display: flex;
  justify-content: flex-end; }
  .comment-button button {
    background-color: #7537DB;
    border-radius: 0.625rem;
    border: none;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    width: 6.25rem; }

.comment-avatar {
  align-items: center;
  display: flex; }

.comments--from-users {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 0.938rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 0;
  width: 21.5625rem; }

.comments--content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  width: 20.3125rem; }

.comment--avatar-users {
  align-items: center;
  display: flex; }
  .comment--avatar-users img {
    width: 2.188rem; }
  .comment--avatar-users p {
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125rem;
    margin-left: 0.5rem; }

.comment--date {
  align-items: center; }
  .comment--date p {
    color: #2A2A2A;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125rem; }

.comments--discussion p {
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125rem;
  line-height: 160%;
  margin: 0 auto;
  padding-bottom: 1rem;
  width: 20.3125rem; }
