* {
  margin: 0;
  padding: 0; }

body {
  background-color: #F1F2F3; }

/*colores*/
@media (min-width: 375px) and (max-width: 480px) {
  .wrapper h1 {
    color: #7537DB;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 12px; }
  .blog__container {
    border-radius: 15px;
    box-shadow: 0px 2px 14px rgba(42, 42, 42, 0.24);
    height: 600px;
    width: 345px; }
  .img--blog__container img {
    align-content: center;
    height: 173px;
    padding-left: 12px;
    width: 345px; }
  .paragraph--blog__container h4 {
    color: #7537DB;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 12px;
    margin-bottom: 10px; }
  .paragraph--blog__container h2 {
    color: #2A2A2A;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 12px;
    padding-right: 12px; }
  .paragraph--blog__container p {
    color: #2A2A2A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 5px;
    padding-left: 12px;
    padding-right: 12px; }
  .paragraph--blog__container a {
    color: #7537DB; }
  .bio--blog__container .icon--bio img {
    height: 35px;
    float: left;
    padding-left: 12px;
    padding-top: 30px;
    width: 35px; }
  .bio--blog__container .info--bio {
    float: left;
    font-family: Arial, Helvetica, sans-serif; }
    .bio--blog__container .info--bio p {
      color: #9D9D9D;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      padding-left: 12px; }
    .bio--blog__container .info--bio a {
      color: #9D9D9D;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      text-decoration: none;
      padding-left: 12px; }
  .footer--container {
    border-top: 1px solid #9D9D9D;
    margin: 0 auto;
    text-align: center;
    width: 345px; }
  .footer--blog {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 15px;
    width: 185px; }
    .footer--blog a img {
      height: 30px;
      width: 30px; }
    .footer--blog a img {
      height: 30px;
      width: 30px; }
  .secondary--blog__container {
    border-radius: 15px;
    box-shadow: 0px 2px 14px rgba(42, 42, 42, 0.24);
    height: 2000px; }
    .secondary--blog__container h3 {
      color: #2A2A2A;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 12px;
      padding-right: 12px; } }

@media (min-width: 375px) and (max-width: 480px) {
  .footer {
    background-color: #7537DB;
    height: 230px;
    width: 375px; }
    .footer img {
      height: 21px;
      padding-top: 20px;
      padding-left: 12px;
      width: 62px; }
    .footer p {
      color: #9D9D9D;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0 auto;
      text-align: center; }
  .footer--menu__list {
    margin: 0;
    padding-top: 30px;
    padding-left: 12px;
    width: 100px; }
    .footer--menu__list li {
      list-style: none; }
    .footer--menu__list a {
      color: #FFFFFF;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      text-decoration: none; }
  .footer--icons {
    float: left;
    padding-left: 12px;
    width: 134px; }
    .footer--icons img {
      height: 30px;
      width: 30px; } }
=======
.footer {
  background-color: #7537DB;
  height: 250px; }

.div-logo_footer {
  padding: 5%; }

#logo-footer {
  width: 20%; }

.ul-menu {
  list-style: none;
  padding: 0 0 0 2%; }
  .ul-menu li {
    margin: 3%;
    font-size: 25px; }
  .ul-menu a {
    text-decoration: none;
    color: white; }

.ul-icon {
  float: left;
  margin-top: -17%;
  margin-left: 55%;
  width: 40%; }
  .ul-icon li {
    display: inline;
    padding: 3%; }
  .ul-icon img {
    width: 18%; }

.div-copyright {
  margin-top: 10%; }
  .div-copyright a {
    color: white;
    margin: 20%;
    padding: 8%; 

.header-wrapper {
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 65px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1; }

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 345px; }
  .header-container .header-logo img {
    height: 21px;
    width: 65px; }

.header-bar button {
  background-color: #fff;
  border: none;
  margin-left: 16px; }
  .header-bar button img {
    width: 30px; }

.wrapper--ad--one {
  background-image: url(../../img/ads-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 345px;
  height: 192px;
  margin: 16px auto;
  position: relative; }
  .wrapper--ad--one p {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
    top: 115px;
    left: 28px;
    width: 300px; }

.wrapper--ad--two {
  background-image: url(../../img/ads-img-two.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 345px;
  height: 192px;
  margin: 16px auto;
  position: relative; }
  .wrapper--ad--two p {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
    top: 110px;
    left: 28px;
    width: 300px; }

.wrapper--related {
  margin: 24px auto;
  width: 345px; }
  .wrapper--related h2 {
    color: #7537DB;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.related--scroll {
  display: flex;
  overflow: scroll; }

.related--content {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 2px 14px rgba(42, 42, 42, 0.24);
  margin-right: 16px;
  margin: 16px 0;
  padding-bottom: 8px;
  width: 270px; }
  .related--content img {
    width: 265px; }
  .related--content h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin: 16px 18px; }
  .related--content p {
    color: #2A2A2A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0 18px 8px 18px;
    width: 229px; }

.related-date {
  border-top: 1px solid rgba(42, 42, 42, 0.2); }
  .related-date p {
    color: #2A2A2A;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-top: 8px; }

.comments--wrapper {
  margin: 0 auto;
  width: 345px; }
  .comments--wrapper h3 {
    color: #7537DB;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px; }
  .comments--wrapper form {
    display: flex;
    flex-direction: column;
    margin-top: 32px; }
    .comments--wrapper form img {
      width: 35px; }
    .comments--wrapper form label {
      color: #2A2A2A;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 18px;
      margin-left: 8px; }
    .comments--wrapper form textarea {
      border-radius: 15px;
      border: 2px solid #9D9D9D;
      margin: 8px 0 16px 0; }

.comment-button {
  display: flex;
  justify-content: flex-end; }
  .comment-button button {
    background-color: #7537DB;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 8px 16px;
    width: 100px; }

.comment-avatar {
  align-items: center;
  display: flex; }

.comments--from-users {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 32px 0;
  width: 345px; }

.comments--content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  width: 325px; }

.comment--avatar-users {
  align-items: center;
  display: flex; }
  .comment--avatar-users img {
    width: 35px; }
  .comment--avatar-users p {
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-left: 8px; }

.comment--date {
  align-items: center; }
  .comment--date p {
    color: #2A2A2A;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px; }

.comments--discussion {
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  margin: 0 auto;
  padding-bottom: 16px;
  width: 325px; }
