.wrapper--related {
    margin: 1.5rem auto;
    width: 345px;

    h2 {
        color: #7537DB;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

.related--scroll {
    display: flex;
    overflow: scroll;
}

.related--content {

    background-color: white;
    border-radius: 0.9375rem;
    box-shadow: 0px 2px 14px rgba(42, 42, 42, 0.24);
    margin: 1rem 1rem 0 0;
    padding-bottom: 0.5rem;
    width: 270px;
    

    img {
        width: 16.5625rem;
    }

    h3 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.25rem;
        margin: 1rem 1.125rem;
    }

    p {
        color: #2A2A2A;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.125rem;
        margin: 0 1.125rem 0.5rem 1.125rem;
        width: 229px;
    }
}

.related-date {
    border-top: 0.0625rem solid rgba(42, 42, 42, 0.2);
    
    p {
        color: #2A2A2A;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1rem;
        margin-top: 0.5rem;
    }
}